{% extends "base.html.twig" %}

{% block title %}Discover Interesting Blogs{% endblock title %}

{% block navitemsright %}

<li class="nav-item">
    <a class="nav-link" href="logout.php">Logout</a>
</li>

{% endblock navitemsright %}