
{% extends "base.html.twig" %}

{% block title %}Welcome{% endblock title %}

{% block navbarname %}{% endblock navbarname %}

{% block navitemsright %}

<li class="nav-item">
    <a class="nav-link" href="#">Login</a>
</li>

<li class="nav-item">
	<span class="nav-link">|</span>
</li>

<li class="nav-item">
    <a class="nav-link" href="#">Register</a>
</li>

{% endblock navitemsright %}