
{% extends "base.html.twig" %}

{% block title %}Login{% endblock title %}

{% block navbarpfp %}{% endblock navbarpfp %}

{% block navitemsright %}

<li class="nav-item">
    <a class="nav-link" href="register.php">Register</a>
</li>

{% endblock navitemsright %}

{% block content %}

{% endblock %}