{% extends "profile_base.html.twig" %}

{% block title %}{{ error_msg }}{% endblock title %}

{% block content %}
	<h1 class="d-flex justify-content-center">{{ error_msg }}</h1>
{% endblock content %}