{% extends "base.html.twig" %}

{% block title %}Welcome{% endblock title %}

{% block navitemsright %}

<li class="nav-item">
    <a class="nav-link" href="login.php">Login</a>
</li>

<li class="nav-item">
	<span class="nav-link">|</span>
</li>

<li class="nav-item">
    <a class="nav-link" href="register.php">Register</a>
</li>

{% endblock navitemsright %}

{% block content %}
	<h1>Welcome</h1>
	{{ parent() }}
{% endblock content %}