
#blogImg {
	height: 30vh;
	width: 100%;
	border-radius: 1.5%;
}

.blog-container > * {
	margin-top: 10px;
	width: 100%;
}

.blog-container > h5 {
	text-decoration: underline;
	font-weight: 400;
}

#titleContainer {
	margin-bottom: 10px;
}

#titleContainer > h2 {
	display: inline;
}

#titleContainer > span {
	font-weight: 400;
	margin-left: 10px;
}

#blogSearchForm {
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
}

#blogSearchForm > * {
	margin-top: 15px;
}

#blogSearchButton {
	color: white;
	background-color: #2C5E91;
	margin-right: 5px;
}

.error-text {
	color: #DC3545;
}