
.error-text {
	color: #DC3545;
}

.blog-container > * {
	margin-top: 5px;
}

#fileUpload {
	width: 0px;
	height: 0px;
	overflow: hidden;
	display: inline;
	margin: 0px;
}

#userImg {
	cursor: pointer;
	height: 30vh;
	width: 100%;
	border-radius: 1.5%;
}

#submitButton {
	color: white;
	background-color: #2C5E91;
}