
form {
	margin-bottom: 10px;
}

#userImg {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	cursor: pointer;
}

#imgHelp {
	margin-bottom: 10px;
}


#fileUpload {
	width: 0px;
	height: 0px;
	overflow: hidden;
	display: inline;
	margin: 0px;
}

#submitButton {
	width: 120px;
}

#blogEditButton,
#blogDeleteButton {
	color: white;
	margin-bottom: 10px;
}

#blogEditButton {
	background-color: #2C5E91;
	margin-right: 5px;
}

#blogDeleteButton {
	background-color: #DC3545;
}

.error-text {
	color: #DC3545;
}